<div ng-controller="list.controller" ng-show="list != null">
    <h4 class="sub-header">{{list.name}}</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="email in list.emails">
                    <td>{{email.name}}</td>
                    <td>{{email.address}}<i class="fa fa-minus fa-2 pull-right red-text mouse-pointer" ng-click="deleteEmail(email.id)" /></td>
                </tr>
                <tr add-email ng-model="list"></tr>
            </tbody>
        </table>
    </div>
</div>