<div ng-controller="list.controller">
    <h2 class="sub-header">{{list.name}}</h2>
    <div><i class="fa fa-plus mouse-pointer" ng-click="addEmail()"></i> <i class="fa fa-minus mouse-pointer" ng-click="deleteEmail()"></i></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="list in list.Emails">
                    <td>{{Name}}</td>
                    <td>{{Address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>